.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}
.content p{

}
.username{
    margin: 1rem; 
    padding: 0.3rem 8rem;
    border: 2px solid white;
    border-radius: 10px;
}
.email{
    padding: 0.3rem 8rem;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
}