{% extends 'base.html' %}
{% block title %} Give Feedback {% endblock title %}
{% block mycss %}
<link rel="stylesheet" href="../static/css/Feedback.css">
{% endblock mycss %}
{% block body %}
<div class='container'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <strong>{{ message | safe}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3 class="text-center heading-h3">Give your feedback</h3>
    <form action="/feedback" method="post">
        <div class="my-1">
            <label class="form-label heading">Enter your Name:</label>
            <input type="text" class="form-control" id="name" required placeholder="Enter your Name:" />
        </div>
        <div class="my-1">
            <label class="form-label heading">Enter your Email:</label>
            <input type="text" class="form-control" id="email" required placeholder="Enter your Email:" />
        </div>
        <div class="my-1">
            <label class="form-label heading">Enter your Feedback:</label>
            <textarea type="text" class="form-control" id="feedback" required placeholder="Enter your Feedback:"></textarea>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-outline-light my-2" style="font-weight: bold;" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}