{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block mycss %}
    <link rel="stylesheet" href="../static/css/Profile.css">
{% endblock mycss %}
{% block body %}
<div class="container">
    <h2>Your Profile</h2>
    <div class="row">
        <div class="content col-md-6">
            <p><span class="username"></span></p>
            <p><span class="email"></span></p>
        </div>
    </div>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
{% endblock body %}
